<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}} !
  </h1>
</div>
<nav>
  <h2><a routerLink="/child1" routerLinkActive="active">Lazy load module Child1</a></h2>
  <h2><a routerLink="/child2" routerLinkActive="active">Load module Child2</a></h2>
</nav>
<router-outlet></router-outlet>
